{% extends "app/layout_main.html" %}
{% load static %}

{% block title %}konvoka{% endblock %}

{% block page_header_text %}konvoka{% endblock %}

{% block page_subheader_text %}Plataforma de Administración de Convocatorias{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
{% comment %} <li class="breadcrumb-item active" aria-current="page">Blank</li> {% endcomment %}
{% endblock %}

{% block main_content %}
<div class="info-container"> Hay 2 convocatorias activas en el momento! </div>
<div class="row">
    <h4>Anuncios y noticias</h4>
    <div class="col-sm-12 mt-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-2">Noticia #1</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quis, iure quas distinctio corporis qui! Dolorem inventore maiores qui tempora. Repudiandae cum reprehenderit ea explicabo quod necessitatibus asperiores tenetur sit.</p>
                <p class="card-text"><small class="text-muted">Publicada hace 2 horas</small></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% comment %}
{% block content-wrapper-right %}
<div class="content-wrapper-right">
    <div class="right-content bg-faded d-flex flex-column h-100">
        <div class="flex-grow-1 p-4 py-4 ">
            <div class="info-container"> Right content goes here... </div>
        </div>
    </div>
</div>
{% endblock %} {% endcomment %}

{% block nav_menu %}
<li class="active">
    <a href="{% url 'index' %}">
        <svg class="sa-icon">
            <use href="{% static 'img/sprite.svg' %}#home"></use>
        </svg>
        <span class="nav-link-text">Inicio</span>
    </a>
</li>

<li class="nav-title"><span>Convocatorias</span></li>
<li>
    <a href="{% url 'convocatorias' %}">
        <svg class="sa-icon">
            <use href="{% static 'img/sprite.svg' %}#message-square"></use>
        </svg>
        <span class="nav-link-text">Convocatorias</span>
    </a>
</li>
<li class="nav-title"><span>Actores</span></li>
<li>
    <a href="appintel.html">
        <svg class="sa-icon">
            <use href="{% static 'img/sprite.svg' %}#user-check"></use>
        </svg>
        <span class="nav-link-text">Evaluadores</span>
    </a>
</li>
<li>
    <a href="appintel.html">
        <svg class="sa-icon">
            <use href="{% static 'img/sprite.svg' %}#user-plus"></use>
        </svg>
        <span class="nav-link-text">Postulantes</span>
    </a>
</li>
<li>
    <a href="appintel.html">
        <svg class="sa-icon">
            <use href="{% static 'img/sprite.svg' %}#users"></use>
        </svg>
        <span class="nav-link-text">Administradores</span>
    </a>
</li>

<li class="nav-title"><span>Sistema</span></li>
<li>
    <a href="appintel.html">
        <svg class="sa-icon">
            <use href="{% static 'img/sprite.svg' %}#settings"></use>
        </svg>
        <span class="nav-link-text">Configuración</span>
    </a>
</li>
<li>
    <a href="{% url 'logout' %}">
        <svg class="sa-icon">
            <use href="{% static 'img/sprite.svg' %}#log-out"></use>
        </svg>
        <span class="nav-link-text">Salir</span>
    </a>
</li>
{% endblock %}